.shop-container{
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product-container{
    margin-left: 150px;
    border-right: 1px solid rgba(128, 128, 128, 0.479);
}

.cart-container{
    margin-left: 25px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding: 20px;
    color: #fff;
    font-size: 22px;
}
.search-container input{
    margin-right: 10px;
    width: 80%;
    height: 30px;
    font: 18px;
    padding-left: 10px;
}



@media only screen and (max-width:768px) {
    .shop-container{
        grid-template-columns: 1fr;
    }

    .cart-container{
        order: 1;
        margin-left: 10px;
        width: 90vw;
    }

   .product-container{
    margin-left: 10px;
    order: 2;
   }
}

@media only screen and (max-width:992px) {
    .product-container{
        margin-left: 10px;
    }
}
