.shop-container{
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-bottom: 50px;
}

.product-container{
    border-right: 1px solid rgba(128, 128, 128, 0.479);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 300px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding: 20px;
    margin-top: 48px;
    color: #fff;
    font-size: 22px;
}
.search-container input{
    margin-right: 10px;
    width: 80%;
    height: 30px;
    font: 18px;
    padding-left: 10px;
}



@media only screen and (max-width:768px) {
    .shop-container{
        grid-template-columns: 1fr;
    }

    .cart-container{
        order: 1;
        width: 100vw;
    }

   .product-container{
    margin-left: 10px;
    order: 2;
   }
}

@media only screen and (max-width:992px) {
    .product-container{
        margin-left: 10px;
    }
}
