.cart{
    width: 80%;
    padding: 18px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 1px solid rgb(0 0 0 / 14%);
    box-shadow: 0 16px 10px 0 rgb(0 0 0 / 14%), 0 11px 18px 0 rgb(0 0 0 / 12%), 0 13px 5px -1px rgb(0 0 0 / 20%);
}

.cart h3,
.cart h4{
    text-align: center;
}
.cart p{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
    margin: 5px 0;
}
.order-total span{
    color: #b12704;
    font-size: 17px;
}
.cart .btn-regular{
    margin-top: 52px;
}

.order-quantity{
    position: absolute;
    top: 12px;
    right: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #f08804;
    font-weight: 700;
    font-size: 20px;
}
.cart-icon{
    margin-right: 5px;
}