.logo{
    text-align: center;
}
.logo img{
    margin: 16px 0;
    height: 100px;
    width: 100px;
}

nav{
    display: flex;
    align-items: center;
    padding-left: 40px;
    height: 50px;
    background-color: black;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
    line-height: 30px;
    padding: 5px;
    transition: all 0.2s ease;
}
.nav-item:hover,
.burger-menu-item a:hover{
    background-color: #fff;
    color: black;
}

.nav-icon{
   display: none;
}

.burger-menu-item{
    z-index: 9999;
    padding: 10px;
    position: absolute;
    top: 196px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.90);
    display: flex;
    flex-direction: column;
    width: 170px;
    transform: translateX(-200px);
    transition: transform .15s cubic-bezier(.4,0,.2,1),-webkit-transform .15s cubic-bezier(.4,0,.2,1);
}

.burger-menu-item a{
    line-height: 30px;
    padding: 5px;
    transition: all 0.2s linear;
    text-decoration: none;
    color: #fff;
}

.burger-menu-visible{
    transform: translateX(0);
}

@media only screen and (max-width:480px) {
    .nav-item{
        display: none;
    }

    .nav-icon{
        display: inline-block;
   }

   nav{
       padding-left: 10px;
   }
}