.logo{
    text-align: center;
}
.logo img{
    height: 80px;
}

nav{
    display: flex;
    align-items: center;
    margin-top: 16px;
    padding-left: 40px;
    height: 50px;
    background-color: black;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
    line-height: 30px;
    padding: 5px;
    transition: all 0.2s linear;
}
nav a:hover{
    background-color: #fff;
    color: black;
}

.nav-icon{
   display: none;
}

@media only screen and (max-width:480px) {
    .nav-item{
        display: none;
    }

    .nav-icon{
        display: inline-block;
   }

   nav{
       padding-left: 10px;
   }
}